<?xml version="1.0" encoding="UTF~8"?>
<!DOCTYPE plist PUBLIC "~//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList~1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>default</key>
		<false/>
		<key>label</key>
		<string>24hr</string>
		<key>name</key>
		<string>twentyfourhourOp</string>
		<key>type</key>
		<string>switch</string>
	</dict>
	<dict>
		<key>default</key>
		<true/>
		<key>label</key>
		<string>Music Widget</string>
		<key>name</key>
		<string>useMusicOp</string>
		<key>type</key>
		<string>switch</string>
	</dict>
	<dict>
		<key>default</key>
		<true/>
		<key>label</key>
		<string>Music Background</string>
		<key>name</key>
		<string>useMusicBgOp</string>
		<key>type</key>
		<string>switch</string>
	</dict>
	<dict>
		<key>default</key>
		<string>40%</string>
		<key>label</key>
		<string>Music Background Opacity</string>
		<key>name</key>
		<string>musicBgOpacityOp</string>
		<key>options</key>
		<dict>
			<key>10%</key>
			<string>10</string>
			<key>20%</key>
			<string>20</string>
			<key>30%</key>
			<string>30</string>
			<key>40%</key>
			<string>40</string>
			<key>50%</key>
			<string>50</string>
			<key>60%</key>
			<string>60</string>
			<key>70%</key>
			<string>70</string>
			<key>80%</key>
			<string>80</string>
			<key>90%</key>
			<string>90</string>
			<key>100%</key>
			<string>100</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<true/>
		<key>label</key>
		<string>Weather Widget</string>
		<key>name</key>
		<string>useWeatherOp</string>
		<key>type</key>
		<string>switch</string>
	</dict>
	<dict>
		<key>default</key>
		<string>Flickr</string>
		<key>label</key>
		<string>Weather Background</string>
		<key>name</key>
		<string>useWxBgOp</string>
		<key>options</key>
		<dict>
			<key>Flickr</key>
			<string>flickr</string>
			<key>Stock</key>
			<string>stock</string>
			<key>Clear</key>
			<string>clear</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>80%</string>
		<key>label</key>
		<string>Weather Background Opacity</string>
		<key>name</key>
		<string>wxBgOpacityOp</string>
		<key>options</key>
		<dict>
			<key>10%</key>
			<string>10</string>
			<key>20%</key>
			<string>20</string>
			<key>30%</key>
			<string>30</string>
			<key>40%</key>
			<string>40</string>
			<key>50%</key>
			<string>50</string>
			<key>60%</key>
			<string>60</string>
			<key>70%</key>
			<string>70</string>
			<key>80%</key>
			<string>80</string>
			<key>90%</key>
			<string>90</string>
			<key>100%</key>
			<string>100</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>15</string>
		<key>label</key>
		<string>Weather Refresh (Minutes)</string>
		<key>name</key>
		<string>wxRefreshOp</string>
		<key>options</key>
		<dict>
			<key>10</key>
			<string>10</string>
			<key>15</key>
			<string>15</string>
			<key>20</key>
			<string>20</string>
			<key>30</key>
			<string>30</string>
			<key>60</key>
			<string>60</string>
			<key>90</key>
			<string>90</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<false/>
		<key>label</key>
		<string>Top Border</string>
		<key>name</key>
		<string>topBorderOp</string>
		<key>type</key>
		<string>switch</string>
	</dict>
	<dict>
		<key>default</key>
		<true/>
		<key>label</key>
		<string>Bottom Border</string>
		<key>name</key>
		<string>bottomBorderOp</string>
		<key>type</key>
		<string>switch</string>
	</dict>
	<dict>
		<key>default</key>
		<false/>
		<key>label</key>
		<string>Side Borders</string>
		<key>name</key>
		<string>sideBorderOp</string>
		<key>type</key>
		<string>switch</string>
	</dict>
</array>
</plist>
